@model IEnumerable<TheWorld.Models.Trip>
@{ 
    ViewBag.Title = "Página Principal";
}
        <div class="row">
            <div class="col-md-12">
                <h1>Bienvenido a Por El Mundo</h1>
                <p> Mi primer sitio en ASP 5. Donde puedes administrar tus viajes</p>

                <div class="" >
                    <a asp-controlle="App" asp-action="Trips" class="btn btn-lg btn-success">Ir a Mis Viajes</a>
                </div>
            </div>

 </div>
